<div class="form">
  <div class="panel panel-default"
    zum-waypoint="waypoints"
    down="name.down"
    up="name.up"
    offset="-100">
    <div class="panel-body">
      <div
        ng-class="{
        fixedCopyTags : waypoints.name.down
        }">
        <div class="form-group">
          <tags-input
            class="ti-input-sm"
            ng-model="$ctrl.copyObjArray"
            on-tag-removed="$ctrl.updateParent($tag)">
          </tags-input>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default btn-md" ng-click="$ctrl.clearArray()"
            data-ng-disabled="$ctrl.checkArray()" ngclipboard data-clipboard-text=" ">
            Clear
          </button>
          <button type="button" class="btn btn-primary btn-md"
            data-ng-disabled="$ctrl.checkArray()"
            ngclipboard data-clipboard-text="{{$ctrl.copyToString()}}">
            Copy to Clipboard
          </button>
          <button
          data-ng-disabled="$ctrl.exportEnable()"
          type="button" class="btn btn-info btn-md"
          ng-click="$ctrl.exportResults()">Export Results Table to Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>