// Try to mimic T1/Strand style as much as necessary.

@font-face {
	font-family: "Arimo";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/a/arimo-regular.eot?") format("eot"),
	url("fonts/a/arimo-regular.ttf") format("ttf"),
	url("fonts/a/arimo-regular.svg") format("svg"),
	url("fonts/a/arimo-regular.woff") format("woff");
}

body {
	font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f4f4f4;
}

nav {

  .app-version {
    color: rgba(255,255,255,.25);
    padding-right: 1vw;
  }

  background: linear-gradient(to right, rgba(51,51,51,1) 85%,rgba(64,88,124,1) 100%);
  margin: 0 0 20px;
  border: 0;

  &.navbar {
    border: 0;
    border-radius: 0;
  }

  .navbar-header {
    border-right: 1px solid rgb(102, 102, 102);
  }

}